* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  line-height: 1.6em;
  font-family: Arial, sans-serif;
  color: white;

}


.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px 900px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  /* border: 2px solid yellow; */


}

/* .box {
  border: 1px solid red;
  background: #F8FA9D;
} */

.header {
  grid-area: hd;
  background-color: black;
}

.footer {

  grid-area: ft;
  width: 100%;
  height: 170px;
  padding: 0px 50px;
  background-color: black;
}



.content {
  grid-area: main;
  background-color: white;
}


.container .content a img {
  width: 33%;
  height: 25%;
  border-radius: 30%;
  margin: 10px;
  padding: 25px;
}

.content h2 {
  text-align: center;
  padding: 20px;
  margin: 10px;
}


.logo-photo {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 40px;
}

.header .logo-photo img {
  float: right;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 85%;

}

.logo {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}


.header .logo .logo_text span {
  color: red;
  margin: 10px;

}

.header nav {

  position: absolute;
  top: 15px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header nav ul {

  list-style: none;
  display: inline;
  margin-left: 20px;
  padding: 35px;

}

nav ul li {
  display: inline;
  font-size: 19px;
  padding: 10px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav ul li a:hover {
  color: red;
  background-color: white;
  transition: .3s;
}


.header .Intro {
  display: inline-block;
  position: absolute;
  top: 115px;
  left: 180px;
  padding: 10px;
  margin: 10px;
}

.header .Intro h2 {
  display: inline-block;
  padding: 10px;
}

span {
  color: red;
}



figcaption {

  color: red;
}

.container .fig1 {

  position: absolute;
  top: 200px;
  right: 60px;
  color: black;
  width: 200px;
  font-size: 24px;

}


/* --------------------------------------------Footer-------------------------------------------- */

.home-screen {
  padding: 10px;
  display: inline;
}

.home-screen {
  position: relative;
  top: 0px;
  left: 50px;
  width: 290px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: red;
  background: transparent;

}

.home-screen a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  /* Vertical  content */
  align-items: center;
  /* Horzantal items to center      */
  border: 1px solid black;
  border-radius: 86%;



}

.footer fieldset {
  padding: 10px;
  width: 400px;
}

.home-screen a:hover {
  background-color: red;

}

.footer .Info {
  background-color: black;
  width: 300px;
  height: 160px;
  position: relative;
  bottom: 100px;
  left: 470px;
  padding: 10px;
  background: transparent;
}


.footer {
  color: white;
}

/* .......................................................................................... */




/* Media Queries */



/* Small Screen*/
@media screen and (max-width:400px) {

  .header nav {
    position: absolute;
    top: 65px;
    left: 15px;
    display: inline;
} 



  /* .container .fig1 {

    position: absolute;
    top: 682px;
    right: 128px;
    color: black;
    width: 190px;
    font-size: 15px;

  } */

  .content .Intro {
    margin-right: 500px;
  }

  .logo-photo {
   
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .logo {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
}

}






/* Medume Screen*/
@media screen and (min-width:401px) and (max-width:768px) {


  
  /* .container .fig1 {
                                 Deleted From Home Page 
    position: absolute;
    top: 697px;
    right: 100px;
    color: black;
    
  }  */


  .footer .Info {
    background-color: black;
    width: 250px;
    height: 160px;
    position: relative;
    bottom: 120px;
    left: 430px;
    padding: 10px;
    background: transparent;
  }

  .footer fieldset {
    padding: 10px;
    width: 360px;
  }



  
}