* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6em;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 600px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  /* border: 2px solid yellow; */
}

/* .box {
  border: 1px solid red;
  background: #F8FA9D;
} */

.header {
  grid-area: hd;
  background-color: black;
  width: 100%;
}

.footer {
  grid-area: ft;
  width: 100%;
  height: 170px;
  padding: 0px 50px;
  background-color: black;
}

.content {
  grid-area: main;
  background-color: white;
}

.container .content a img {
  width: 30%;
  height: 30%;
  border-radius: 30%;
  margin: 5px;
  padding: 25px;
}

.content h2 {
  text-align: center;
  padding: 20px;
  margin: 10px;
  color: black;
}

.header .logo-photo {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
}

.header .logo-photo img {
  float: right;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 85%;
}

.logo {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.header .logo .logo_text span {
  color: red;
  margin: 10px;
}

.header nav {
  position: absolute;
  top: 15px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header nav ul {
  list-style: none;
  display: inline;
  margin-left: 20px;
  padding: 35px;
}

nav ul li {
  display: inline;
  font-size: 19px;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav ul li a:hover {
  color: red;
  background-color: white;
  transition: 0.3s;
}

.header .Intro {
  display: inline-block;
  position: absolute;
  top: 115px;
  left: 180px;
  padding: 10px;
  margin: 10px;
}

.header .Intro h2 {
  display: inline-block;
  padding: 10px;
}

span {
  color: red;
}

/* figcaption {

  color: red;
}

.container .fig1 {

  position: absolute;
  top: 200px;
  right: 60px;
  color: black;
  width: 200px;
  font-size: 24px;

} */

/* --------------------------------------------Footer-------------------------------------------- */

.home-screen {
  padding: 10px;
  display: inline;
}

.home-screen {
  position: relative;
  top: 0px;
  left: 50px;
  width: 290px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: red;
  background: transparent;
}

.home-screen a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  /* Vertical  content */
  align-items: center;
  /* Horzantal items to center      */
  border: 1px solid black;
  border-radius: 86%;
}

.footer fieldset {
  padding: 10px;
  width: 400px;
}

.home-screen a:hover {
  background-color: red;
}

.footer .Info {
  background-color: black;
  width: 300px;
  height: 160px;
  position: relative;
  bottom: 100px;
  left: 470px;
  padding: 10px;
  background: transparent;
}

.footer {
  color: white;
}

/* .......................................................................................... */

/* Media Queries */

/* Medume  Screen Teplet */
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    /* border: 2px solid yellow; */
    width: 100%;
  }

  .footer {
    grid-area: ft;
    background-color: black;
    padding: 0px;
    width: 100%;
    height: 190px;
  }

  .footer fieldset {
    padding: 0px;
    width: 250px;
    margin: 10px;
  }

  .content .Intro {
    text-align: center;
  }

  .home-screen {
    position: relative;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: red;
    background: transparent;
  }

  .footer .Info {
    background-color: black;
    width: 300px;
    height: 160px;
    position: relative;
    bottom: 80px;
    left: 400px;
    padding: 10px;
    background: transparent;
  }

  .logo-photo {
    position: absolute;
    top: 0px;
    right: 0;
  }
}

/* ---------------------------------------------------------------- */

/* Teplet  Screen*/
@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    /* border: 2px solid yellow; */
    width: 100%;
  }

  /* .footer {
    grid-area: ft;
    background-color: black;
    padding: 0px;
    width: 100%;
    height: 190px;
  } */

  .header nav {
    position: absolute;
    top: 50px;
    left: 170px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .header nav ul {
    list-style: none;
    display: inline;
    padding: 10px;
  }

  
  nav ul li {
    display: inline;
    font-size: 19px;
    padding: 0px;
  }
  .content .Intro {
    text-align: center;
  }

  .footer .Info {
    background-color: black;
    width: 270px;
    height: 160px;
    position: relative;
    bottom: 100px;
    left: 240px;
    padding: 0px;
    background: transparent;
  }

  .home-screen {
    position: relative;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: red;
    background: transparent;
  }

  .logo-photo {
    position: absolute;
    top: 0px;
    right: 0;
  }
  .footer fieldset {
    padding: 10px;
    width: 190px;
  }
}

/* Small  Screen   Smart Phone*/
@media screen and (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px;
    grid-template-areas:
      "hd"
      "main"
      "ft";
    /* border: 2px solid yellow; */
    width: 100%;
  }

  .footer {
    grid-area: ft;
    background-color: black;
    padding: 0px;
    width: 100%;
    height: 190px;
  }

  .footer .Info {
    background-color: black;
    width: 240px;
    height: 160px;
    position: relative;
    bottom: 100px;
    left: 140px;
    padding: 10px;
    background: transparent;
  }

  .home-screen {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: red;
    background: transparent;
  }

  .footer fieldset {
    padding: 0px;
    width: 120px;
    margin: 3px;
  }

  .content h2 {
    padding: 10px;
    margin: 10px;
  }
  .container .content a img {
    width: 40%;
    height: 30%;
    border-radius: 30%;
    margin: 5px;
    padding: 5px;
  }

  .header nav {
    position: absolute;
    top: 50px;
    left: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .header .logo-photo {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
  }
  .logo {
    display: inline-block;
    margin: 10px;
    padding: 10px;
  }
}
