* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  line-height: 1.6em;
  font-family: Arial, sans-serif;
  color: white;

}


.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 600px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  /* border: 2px solid yellow; */
  width: 100%;
}




/* .box {
  border: 1px solid red;
  background: #F8FA9D;
} */

.header {
  grid-area: hd;
  background-color: black;

}


.content {
  grid-area: main;
}

.footer {
  grid-area: ft;
  background-color: black;
  padding: 0px 5px;
  width: 100%;
  height: 170px;
}



.logo-photo {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 40px;
}

.header .logo-photo img {
  float: right;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 85%;

}

.logo {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}


.header .logo .logo_text span {
  color: red;
  margin: 10px;

}

.header nav {

  position: absolute;
  top: 15px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header nav ul {

  list-style: none;
  display: inline;
  margin-left: 20px;
  padding: 35px;

}

nav ul li {
  display: inline;
  font-size: 19px;
  padding: 10px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav ul li a:hover {
  color: white;
  background-color: red;
  transition: .3s;
}


.header .Intro {
  display: inline-block;
  position: absolute;
  top: 115px;
  left: 180px;
  padding: 10px;
  margin: 10px;
}

.header .Intro h2 {
  display: inline-block;
  padding: 10px;
}

.header .Intro h2 span {
  color: red;
}


------------------------------------------Header -------------------------------------- */ 

.container .content  .post-blog .post img {

  width: 33%;
  height: 25%;
  border-radius: 30%;
  margin: 10px;
  padding: 25px;

}

.post-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  margin: 10px;

}

.post-blog .post {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 9px;
  overflow: auto;
  font-size: 19px;
  height: 230px;
  

} 
.content  .post-blog .post img{

   width: 100%; 
   height: 80%; 
   border-radius: 30px;
}


.content .Intro {
  text-align: center;

}

.content .Intro h2 {
  padding: 10px;
  margin: 10px;
  color: red
}

.content .Skils {


  position: absolute;
  background-color: black;
  top: 400px;
  right: 30px;
  padding: 10px;
  margin: 10px;
}

.content .Skils h2{

  color: white;
}

.container .fig1 {
  position: absolute;
  top: 430px;
  right: 360px;
  color: black;
  width: 200px;
  font-size: 15px;
}

.container .fig1 img{
  width: 80%; 
  
}








/* --------------------------------------------Footer-------------------------------------------- */

.home-screen {
  padding: 10px;
  display: inline;
}

.home-screen {
  position: relative;
  top: 0px;
  left: 50px;
  width: 290px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: red;
  background: transparent;

}

.home-screen a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  /* Vertical  content */
  align-items: center;
  /* Horzantal items to center      */
  border: 1px solid black;
  border-radius: 86%;



}

.footer fieldset {
  padding: 10px;
  width: 400px;
  margin: 10px;

}

.home-screen a:hover {
  background-color: red;

}

.footer .Info {
  background-color: black;
  width: 300px;
  height: 160px;
  position: relative;
  bottom: 130px;
  left: 600px;
  padding: 10px;
  background: transparent;
}


.footer {
  color: white;
}

span {
  color: red
}







/* ----------------------------------------------------------------------------------------- */

@media screen and (max-width:900px){

  .container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 100px 600px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    /* border: 2px solid yellow; */
    width: 100%;
  }

  .header nav {
    position: absolute;
    top: 0px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
}
  .post-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
    grid-gap: 10px;
    margin: 10px;
}


.content .Skils {
  position: absolute;
  background-color: black;
  top: 430px;
  right: 0px;
  padding: 10px;
  margin: 10px;
}


}

@media screen and (max-width:800px){

  .post-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 10px;
    margin: 10px;
}

.home-screen {
  position: relative;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: red;
  background: transparent;
}

.footer fieldset {
  padding: 10px;
  width: 200px;
  margin: 10px;
}
.footer .Info {
  background-color: black;
  width: 300px;
  height: 160px;
  position: relative;
  bottom: 130px;
  left: 380px;
  padding: 5px;
  background: transparent;
}

}


@media screen and (max-width:768px){

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    /* border: 2px solid yellow; */
    width: 100%;
}
.header nav {
  position: absolute;
  top: 0px;
  left: 170px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header nav ul {
  list-style: none;
  display: inline;
  margin-left: 0px;
  padding: 10px;
}

.header nav {
  position: absolute;
  top: 50px;
  left: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.footer fieldset {
  padding: 10px;
  width: 190px;
  margin: 10px;
}

.home-screen {
  position: relative;
  top: 0px;
  left: 0px;
  width: 170px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: red;
  background: transparent;
}
.footer .Info {
  background-color: black;
  width: 300px;
  height: 160px;
  position: relative;
  bottom: 130px;
  left: 280px;
  padding: 10px;
  background: transparent;
}

.post-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 10px;
  margin: 10px;
}
}


@media screen and (max-width:600px){

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px;
    grid-template-areas:
    "hd"
    "main"
    "ft";
    /* border: 2px solid yellow; */
    width: 100%;
}

.post-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 3px;
  margin: 5px;
}


.footer .Info {
  background-color: black;
  width: 300px;
  height: 160px;
  position: relative;
  bottom: 130px;
  left: 260px;
  padding: 10px;
  background: transparent;
}
.header nav {
  position: absolute;
  top: 0px;
  left: 156px;
  display: flex;
  justify-content: center;
  align-content: center;
}

}

@media screen and (max-width:400px){
      
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px;
    grid-template-areas:
    "hd"
    "main"
    "ft";
    /* border: 2px solid yellow; */
    width: 100%;
}

.post-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-gap: 2px;
  margin: 5px;
}
.post-blog .post {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 5px;
  overflow: auto;
  font-size: 15px;
  height: 210px;
}

.container .fig1 {
  position: absolute;
  top: 440px;
  right: 0px;
  color: black;
  width: 200px;
  font-size: 11px;
}
.content .Skils {
  position: absolute;
  background-color: black;
  top: 430px;
  right: 215px;
  padding: 2px;
  margin: 10px;
}

.home-screen {
  position: relative;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: red;
  background: transparent;
}

.footer fieldset {
  padding: 10px;
  width: 100px;
  margin: 10px;
}
.footer .Info {
  background-color: black;
  width: 233px;
  height: 160px;
  position: relative;
  bottom: 130px;
  left: 140px;
  padding: 10px;
  background: transparent;
}
.logo {
  display: inline-block;
  margin: 2px;
  padding: 5px;

}
.header nav ul {
  list-style: none;
  display: inline;
  margin-left: 0px;
  padding: 0px;
}

nav ul li {
  display: inline;
  font-size: 15px;
  padding: 5px;
}
.header nav {
  position: absolute;
  top: 60px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}
}





