* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  line-height: 1.6em;
  font-family: Arial, sans-serif;
  color: white;

}


.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px 940px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  /* border: 2px solid yellow; */

}




/* .box {
  border: 1px solid red;
  background: #F8FA9D;
} */

.header {
  grid-area: hd;
  background-color: black;

}


.content {
  grid-area: main;
}

.footer {
  grid-area: ft;
  background-color: black;
  padding: 0px 50px;
  width: 100%;
  height: 170px;
}



.logo-photo {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 40px;
}

.header .logo-photo img {
  float: right;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 85%;

}

.logo {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}


.header .logo .logo_text span {
  color: red;
  margin: 10px;

}

.header nav {

  position: absolute;
  top: 15px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header nav ul {

  list-style: none;
  display: inline;
  margin-left: 20px;
  padding: 35px;

}

nav ul li {
  display: inline;
  font-size: 19px;
  padding: 10px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav ul li a:hover {
  color: white;
  background-color: red;
  transition: .3s;
}


.header .Intro {
  display: inline-block;
  position: absolute;
  top: 115px;
  left: 180px;
  padding: 10px;
  margin: 10px;
}

.header .Intro h2 {
  display: inline-block;
  padding: 10px;
}

.header .Intro h2 span {
  color: red;
}


------------------------------------------Header -------------------------------------- */ 

.container .content  .post-blog .post img {

  width: 33%;
  height: 25%;
  border-radius: 30%;
  margin: 10px;
  padding: 25px;

}

.post-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 10px;

}

.post-blog .post {
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 9px;
  overflow: auto;
  font-size: 19px;
  height: 280px;
  border-radius: 50px;

}

.content .Intro {
  text-align: center;

}

.content .Intro h2 {
  padding: 10px;
  margin: 10px;
  color: red
}

.content .Skils {


  position: absolute;
  background-color: black;
  top: 600px;
  right: 40px;
  padding: 15px;
  margin: 10px;
}

.content .Skils p {
  color: red;

}


/* --------------------------------------------Footer-------------------------------------------- */

.home-screen {
  padding: 10px;
  display: inline;
}

.home-screen {
  position: relative;
  top: 0px;
  left: 50px;
  width: 290px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: red;
  background: transparent;

}

.home-screen a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  /* Vertical  content */
  align-items: center;
  /* Horzantal items to center      */
  border: 1px solid black;
  border-radius: 86%;



}

.footer fieldset {
  padding: 10px;
  width: 400px;
  margin: 10px;

}

.home-screen a:hover {
  background-color: red;

}

.footer .Info {
  background-color: black;
  width: 300px;
  height: 160px;
  position: relative;
  bottom: 130px;
  left: 600px;
  padding: 10px;
  background: transparent;
}


.footer {
  color: white;
}

span {
  color: red
}







/* ----------------------------------------------------------------------------------------- */



/* Small Screen*/
@media screen and (max-width:400px) {

  .header {
   width: 100%; 
   height: 100px;
  
  }

  .post-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-gap: 10px;
    margin: 10px;
  
  }
  
  .post-blog .post {
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 9px;
    overflow: auto;
    font-size: 19px;
    height: 280px;
    border-radius: 50px;
  
  }

  .header nav {

    position: absolute;
    top: 0px;
    left: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  
.logo-photo {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 10px;
}

.content .Skils {


  position: absolute;
  background-color: black;
  top: 760px;
  right: 60px;
  padding: 15px;
  margin: 10px;
}
.footer fieldset {
  padding: 0px;
  width: 330px;
  margin: 0px;

}


.footer .Info {
  background-color: black;
  width: 303px;
  height: 161px;
  position: relative;
  bottom: 90px;
  left: 340px;
  padding: 0px;
  background: transparent;
}




}








/* Medume Screen*/
@media screen and (min-width:401px) and (max-width:768px) {


  .post-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    grid-gap: 14px;
    margin: 10px;
  
  }

  .content .Skils {


    position: absolute;
    background-color: black;
    top: 800px;
    right: 40px;
    padding: 15px;
    margin: 10px;
  }

  .logo-photo {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 10px;
  }

}